@import "tailwindcss";

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #ff5c00;
  --color-dark-grey: #1f1f1f;
  --color-light: #faf9f7;
  --color-dark: #0a0a0a;
  --color-dim-text: #c2c2c2;
  --color-light-text: #f0f0f0;
  --color-dark-text: #1a1a1a;
  --color-light-border: #d6d0c8;
  --color-dark-border: #1f1f1f;

  /*Custom Font*/

  --font-satoshi: "Satoshi", sans-serif;
}
